{% extends "base.html" %} {% block content %}
<div class="d-flex flex-row gap-5">
	<div class="col-4 card card-body d-flex align-items-center" style="max-height: 400px;">
		<img src="{{ owner.photo_url }}" height="200" width="200" alt="avatar" class="rounded-circle">
		<h1>{{ owner.name}} {{ owner.lastname }}</h1>
		<!-- <p>{{ owner.born_date }}</p> -->
		<p>
			{% for pl in owner.prog_languages %}
				<span class="badge rounded-pill text-bg-secondary">{{ pl }}</span>
			{% endfor %}
		</p>
		<p>Idiomas: 
			{% for language in owner.languages %}
				<span class="badge rounded-pill text-bg-secondary">{{ language }}</span>
			{% endfor %}
		</p>
		<p>Contacto: 
			{{ owner.email }}
		</p>
	</div>
	<div class="col-8">
		<h2>Mis proyectos</h2>
		<hr>
		<div class="d-flex flex-column gap-3">
		{% for project in projects %}
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{ project.name }}</h5>
					<hr>
					<p class="card-text">{{ project.description }}</p>
					<p class="card-text">{{ project.url }}</p>
				</div>
			</div>
		{% endfor %}
		</div>
</div>

{% endblock %}