{% extends "base.html" %} {% block content %}
<div class="d-flex align-items-center justify-content-between">
  <h1>Bienvenido {{ owner.name }}</h1>
  <a href="{% url 'load' %}" class="btn btn-secondary">Cargar Datos</a>
</div>
<hr>
<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>URL</th>
    <th>Acciones</th>
  </tr>
  {% for project in projects %}
  <tr>
    <td>{{ project.name }}</td>
    <td>{{ project.description }}</td>
    <td><a href="{{ project.url }}">{{ project.url }}</a></td>
    <td>
      <a href="#" class="btn btn-primary">Editar</a>
      <a href="#" class="btn btn-danger">Eliminar</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}